
           body{
            margin: 0;
            padding: 0;
        }

        #search_div{
            display: flex;
            justify-content: space-between;
            height: 10vh;
            width: 100vw;
            /* background-color: aqua; */
            /* align-items: center; */    
        }

        #search_div_left{
            /* background-color: red; */
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 13%;
        }
        #simge2:hover{
            cursor: pointer;
            background-color:rgb(231, 225, 225);
        }

        #search_div_left a{
            /* background-color: brown; */
            width: 60%;
            /* height: 55%; */
        }

        #search_div_left img{
            /* height: 100%; */
            width: 100%;
        }

        #dal1{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
        }

        #search_div_middle{
            /* background-color: blue; */
            display: flex;
            width: 50%;
            justify-content: space-between;
            align-items: center;
        }

        #search_div_middle_left{
            display: flex;
            /* width: 20%; */
            /* background-color: aqua; */
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 90%;
        }

        #search_div_middle_left_svg_div{
            height: 65%;
            width: 10%;
            border-radius: 45% 0 0 45%; 
            background-color:rgb(231, 225, 225);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
        }

        #search_div_middle_right{
            /* background-color: blueviolet; */
            display: flex;
            justify-content:center;
            align-items: center;
            border-radius: 48%;
            width: 7%;
            height: 75%;
            /* background-color: red; */
            background-color:rgb(231, 225, 225);
        }

        #search_input{
            height: 63%;
            width: 80%;
            /* background-color: aquamarine; */
            border-left: none;
            border-right: none;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            padding-left: 5%;
            /* padding-top: 10%; */
        }

        #search_input:focus{
            outline: none;
        }

        #search_button{
            height: 67%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            background-color:rgb(231, 225, 225);
            border-radius: 0 45% 45% 0;
            border: 1px solid gray;
        }
      
        #search_div_right{
            /* background-color: yellow; */
            display: flex;
            width: 13%;
            justify-content: space-around;
            align-items: center;
        }

        #user_span{
            border-radius: 47%;
            padding: 10px;
            background-color: orange;
            color: white;
        }

        #olustur:hover{
            background-color:rgb(231, 225, 225);
            cursor: pointer;
        }

        #bildirimler:hover{
            background-color:rgb(231, 225, 225);
            cursor: pointer;
        }

        #user_span:hover{
            cursor: pointer;
        }

         #simge{
                display: flex;
                justify-content: center;
                align-items: center;
                /* width: 100%;
                height: 100%; */
                
            }

         #simge2{
                display: flex;
                justify-content: center;
                align-items: center;
                
            }

        #dal1:hover{
                background-color: antiquewhite;
                height: 50px;
                /* width: 50px; */
            }

        #div_anasayfa{
                /* display: flex; */
                height: 150px;
                /* background-color: aqua; */
                width: 13vw;
                height: 150px;
                border:none
            }
            
#navbar{
     /* background-color: red; */
     height: 100px;
     /* border: 1px solid red; */
     display: flex;
     justify-content: center;
     align-items: center;
      width: 100%;
 } 

#navbar_inner{
    display: flex;
    /* background-color: red;
    /* height: 50%; */
    justify-content: space-between;
    align-items: center; 
    /* padding-top: 140px; */
}

button{
    border-radius: 5px;
    display: flex;
    margin:10px;
    height: 30px;
    background-color: rgb(239, 238, 238);
    font-size: 15px;
    color: rgb(6, 0, 0);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    }

#baslik{
    background-color: black;
    color: white;
} 

#div_tümü{
    background-color: chartreuse;
    margin-right: 5px;
} 

#button_2{ 
    margin-right:px;
} 

 button:hover{
    background-color:rgb(231, 225, 225);
     cursor: pointer; 
}  

#arama{
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 35%;
    height: 35px;
}

.search_container{
    display: flex;
    align-items: center;
    flex: 0 1 685px;
    margin-left: 40px;


}
.search_container form{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
  
}
.search_container input{
    height: 25px;
    display: flex;
    align-items: center;
    width: 35%;
    background-color:rgb(227, 224, 224);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 12px;
    color: black;
    font-size: irem;
    border-radius: 15px;
}

.search{
    width: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: beige;
    outline: none;
    border: none; 
}

#section_left {
    width: 15vw;
    height: 80vh;
    /* background-color: yellow; */
  }

  #section_left_top{
    height: 28%;
    /* background-color: rgb(239, 238, 238); */
  }

  .section_left_top_row{
    height: 33%;
    /* background-color: red; */
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid gray; */
  }
  
  .icon_div{
    /* border-right: 1px solid gray; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #giris{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .title_div{
    display: flex;
    align-items: center;
  }

  #section_left_middle{
    /* background-color: rgb(239, 238, 238); */
    height: 40%;
  }

  .section_left_middle_row{
    height: 25%;
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid gray; */
  }

  .section_left_middle_row2{
    height: 10%;
    display: flex;
    width: 100%; 
    /* background-color: rgb(239, 238, 238); */
  }

  #section_left_middle_row123{
    width: 50%;
    display: flex;
     justify-content:center;
     align-items: center;
  }
  
  #section_left_ent{
    height: 40%;
    /* background-color: rgb(239, 238, 238); */
    /* display: flex; */
   }

.section_left_top_ent{
    height: 25%;
    /* background-color: red; */
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid gray; */
  }

.section_left_top_row:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;}

.section_left_middle_row:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;} 

.section_left_middle_row2:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
}

.section_left_top_ent:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
}



#section_right{
    display: flex;
    
}

#ana{
    display: flex;
    width: 100vw;
    height: 95vh;
}

#sedat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85vw;
    /* background-color: yellow; */
}

.karte{
    width: 30%;
    height: 45%;
    /* border: 1px solid red; */
    /* background-color: blueviolet; */
}

#goruntu{
    width: 100%;
    height: 70%;
    
}
#goruntu iframe{
    border-radius: 15px;
}
#text{
    width: 100%;
    height: 30%;
    /* background-color: brown; */
    display: flex;
}
#icon{
    height: 100%;
    width: 15%;
    /* background-color: blue; */
}
#icon_top{
    height: 60%;
    width: 100%;
    background-color: #aaa ;
}
#icon_top img{
    width: 100%;
    height: 100%;

}
#icon_botton{
    height: 40%;
    width: 100%;

}
#textmain{
    height: 100%;
    width: 85%;
    font-family: Arial, Helvetica, sans-serif;
   
}
#textmain h4,h5{
    padding: 0;
    margin: 0;
}   