#mein_container{
    background-color: rgb(219, 125, 10);
    height: 500px;
    
}
#div1{
    background-color: blue;
    color:rgba(250, 200, 150, 1);
}
#div4{
    background-color: aqua;
    color: black;
    font-size: 35px;
    text-align: center;
    height: 50px;
    padding: 50px;
    
}
h2{
    background-color: chartreuse;
    height: 50px;
    text-align: center;
    padding: 50px;
    display: flex;
}

    
