

table, th, td, caption{
    border: 1px solid;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 55%;
}

.time{
    text-align: center;
}

#button-div{
    /* background-color: red; */
    width: 55%;
    text-align: center;
    margin-top: 15px;
}
#button-boys{
    background-color: cornflowerblue;
    border: 2px solid rgb(73, 132, 241);
    border-radius: 5px 0;
}
#button-girls{
    background-color: pink;
    border: 2px solid rgb(250, 153, 169);
    border-radius: 5px 0;
}
